<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        function updateTodo(id) {
            // the id is todo-checkbox-id 
            var completed = document.getElementById(`todo-checkbox-${id}`).checked;

            fetch(`/todos/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: token,
                    completed: completed
                })
            }).then(res => {
                if (res.ok) {
                    window.location.reload()
                }
            })
                .catch((err) => console.error(err))
        }
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: token,
                })
            }).then(res => {
                if (res.ok) {
                    window.location.reload()
                }
            }).catch((err) => console.error(err))
        }
    </script>
    <title>To-do Manager</title>
</head>

<body>


    <div class="grid grid-cols-6">

        <div class="col-start-3 col-span-2">
            <a href="/"><%- include ('header.ejs') %></a>

            <!--wellcome message-->
            <h1 class="text-2xl font-bold text-green-400">Hello, <%= user.firstName %>! Welcome.</h1>
            
                <form action="/todos" method="post">

                    <input type="hidden" name="_csrf" value="<%= csrfToken%>" /> <!--this is for csrf token-->
                    
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="What's new?"
                                class="border boarder-gray-300 rounded text-gray-900 w-full p-2 text-sm"  />
                        </div>
                        <div class="flex-auto">

                            <input type="date" name="dueDate"
                                class="border boarder-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                                >

                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="text-cyan-50 bg-green-600 px-5  py-1.5 rounded font-meduim mr-2 mb">Add</button>

                        </div>
                    </div>
                </form>
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                            <li class="text-red-600"> <%= messages.error[i] %></li>
                    <% } %>
                  <% } %>

                <div>
                    <%- include('todo.ejs', {title: "Overdue" , data: overdue}) %>
                        <%- include('todo.ejs', {title: "Due Today" , data: dueToday}) %>
                            <%- include('todo.ejs', {title: "Due Later" , data: dueLater}) %>
                                <%- include('todo.ejs', {title: "Completed Items" , data: completedItem}) %>
                </div>
                <p class="py-2">Log out: <a class=" text-green-400" href="/signout">sign-out</a></p>
                <%- include('footer.ejs') %>
        </div>
    </div>
</body>

</html>